html{
	overflow-y: scroll;
	}
body{
	background-color: #ccc;
	font: 13px/20px "Myriad Pro", Arial, sans-serif;
	margin: 0;
	padding: 0;
	}
.clear{
	clear: both;
	}
img{
	border: 0;
	}
a{
	color: #007397;
	text-decoration: underline;
	}
a:hover{
	color: #00475d;
	text-decoration: underline;
	}
a.fast{
	text-decoration: none;
	border-bottom: #007397 1px dashed;
	cursor: pointer;
	}
a.fast:hover{
	border-bottom-color: #00475d;
	}

#wrapper{
	margin: 0 auto;
	padding: 0;
	width: 975px;
	background-color: #fff;
	}

/*
 * Header
 */
#header{
	height: 112px;
	}
#header .logo{
	float: left;
	background-image: url('images/site-top-logo.png');
	background-repeat: no-repeat;
	height: 48px;
	width: 560px;
	margin: 33px 0 0 50px;
	}
#header .contacts{
	float: right;
	margin: 33px 50px 0 0;
	text-align: right;
	}
#header .phone{
	height: 22px;
	line-height: 22px;
	letter-spacing: -1px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 11px;
	}
#header .address{
	font-size: 15px;
	letter-spacing: -1pt;
	height: 13px;
	line-height: 13px;
	}
span.phone-code{
	color: #999;
	}


	
/*
 * Menu (index page)
 */
#index-page .blue-stripe{
	background: #eef3f3 url('images/blue-stripe-background.png') center bottom repeat-x;
	height: 260px;
	padding: 20px 50px;
	}
	
#index-page .menu{
	list-style-type: none;
	float: left;
	font-size: 15px;
	margin: 0;
	padding: 0;
	width: 225px;
	}
#index-page .menu li{
	padding-left: 7px;
	margin-bottom: 5px;
	}
.order-button{
	background-image: url('images/order-button.png') !important;
	background-repeat: no-repeat !important;
	width: 200px;
	height: 44px;
	line-height: 44px;
	margin-top: 52px;
	text-align: center;
	padding: 0 !important;
	font-size: 16px;
	}
.order-button a{
	color: #fff !important;
	text-decoration: none;
	}
#index-page .menu .order-button{
	margin-top: 71px;
	}


/*
 * Slider
 */
#slider{
	background-color: #999;
	width: 650px;
	height: 260px;
	overflow: hidden;
	position: relative;
	}
#slider ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#slider li{
	background-position: left bottom;
	background-rpeat: no-repeat;
	width: 650px;
	height: 260px;
	float: left;
	}
#slider .slide-01{
	background-image: url('images/slide-01.jpg');
	}
#slider .slide-02{
	background-image: url('images/slide-02.jpg');
	}
#slider .slide-03{
	background-image: url('images/slide-03.jpg');
	}
#slider .slide-04{
	background-image: url('images/slide-04.jpg');
	}

#slider .arrows{
	position: relative;
	z-index: 3;
}
#slider .arrows div{
	height: 260px;
	width: 324px;
	margin-top: -260px;
	background-image: url('images/slider-corners.png');
	background-repeat: no-repeat;
}
#slider .arrows .next{
	float: right;
	background-position: center right;
	}
#slider .arrows .prev{
	float: left;
	background-position: center left;
	}
	
.course-banner{
	float: left;
	height: 260px;
	margin-left: 25px;
	width: 650px;  
	}
.course-banner img{
	float: left;
	height: 260px;
	position: relative;
	width: 650px;
	}
	
.course-banner .corners{
	background-image: url('images/slider-corners.png');
	background-repeat: no-repeat;
	height: 260px;
	position: relative;
	width: 650px;
	z-index: 3; 
	}

/*
 * News (index page)
 */
#index-page h2{
	font-size: 14pt;
	margin: 20px 50px;
	}

#index-page .news{
	float: left;
	list-style-type: none;
	margin: 0 0 30px 0;
	padding: 0 50px;
	}
#index-page .news li{
	float: left;
	margin-right: 25px;
	width: 200px;
	}
#index-page .news li.last{
	margin-right: 0;
	}
	
#index-page .news,
#index-page .news h3{
	color: #333;
	font-size: 9pt;
	line-height: 12pt;
	}
	
#index-page .news img + p{
	margin-top: 0;
	}

/*
 * Page (inner)
 */
#page .top{
	background: #eaede1 url('images/page-top-background.png') left center no-repeat;
	height: 38px;
	padding: 0 50px;
	}
#page .top .crumbs{
	list-style-type: none;
	line-height: 38px;
	margin: 0;
	padding: 0;
	}
#page .top .crumbs li{
	float: left;
	background-image: url('images/path-arrow-right.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 22px;
	margin-right: 6px;
	}
#page .top .crumbs li.without-link{
	background-image: none;
	}
#page .top .crumbs .order-button{
	margin: -3px 0 0 0;
	float: right;
	}
#page .top .crumbs a{
	color: #999;
	}

#page .middle{
	padding: 20px 50px;
	}
	
#page .middle .left{
	float: left;
	width: 200px;
	}
#page.wide .middle .left{
	width: 875px;
	}
	
#page .menu{
	font-size: 15px;
	float: left;
	line-height: 17px;
	width: 200px;
	}
#page .menu,
#page .menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#page .menu ul{
	margin: 7px 0 0 10px;
	}
#page .menu li{
	margin-bottom: 7px;
	}
	
#page .banners{
	clear: left;
	float: left;
	margin-top: 30px;
	width: 200px;
	}

#page .page{
	float: left;
	margin-left: 25px;
	width: 650px;
	}
#page .page p{
	margin-top: 0;
	}
#page h1{
	font-size: 24px;
	margin: 0 0 10px 0;
	}
#page.wide h1{
	float: left;
	margin: 0 0 18px 25px;
	width: 650px; 
	}
#page .page h2{
	color: #999;
	font-size: 20px;
	line-height: 19px;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 20px 0;
	padding-top: 20px;
	}
#page .page .note h2{
	font-weight: bold;
	font-style: normal;
	font-size: 15px;
	line-height: 19px;
	margin: -37px 0 18px 0;
	padding-top: 0;
	}
#page .page div.three-columns{
	float: left;
	}
#page .page div.three-columns div{
	float: left;
	margin-right: 25px;
	width: 200px;
	}
#page .page div.three-columns .wide,
#page.wide .page div.tree-columns .wide{
	width: 425px;
	}
#page .page div.three-columns .last{
	margin-right: 0;
	}
#page.wide .page div.three-columns .last{
	margin-right: 0;
	width: 425px;
	}
	
/*
 * Wide page
 */
#page.wide .banners{
	display: none;
	}
#page.wide .page{
	clear: left;
	margin-left: 0;
	width: 875px;
	}


/*
 * Courses
 */

.course-brief{
	background: #f6f7f4 url('images/course-brief-background.png') top center no-repeat;
	height: 200px;
	list-style-type: none;
	margin: 30px 0 0 -50px;
	padding: 0 50px;
	width: 875px;
	}
.course-brief h3{
	color: #999;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	}
	
.course-brief > li{
	float: left;
	}
	
.course-brief .timeline{
	float: left;
	height: 200px;
	width: 225px;
	}
.course-brief .timeline h4{
	color: #999;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	margin: 9px 0 5px 0;
	}
.course-brief .timeline p.time{
	height: 32px;
	line-height: 10px;
	margin: 0;
	padding: 7px 0 0 40px;
	background-image: url('images/icon-clock.png');
	background-position: left top;
	background-repeat: no-repeat;
	}
.course-brief .timeline p.period{
	height: 32px;
	line-height: 10px;
	margin: 0;
	padding: 7px 0 0 40px;
	background-image: url('images/icon-calendar.png');
	background-position: left top;
	background-repeat: no-repeat;
	}
.course-brief .timeline span.hours,
.course-brief .timeline span.months{
	font-size: 30px;
	font-weight: bold;
	}
.course-brief .exam-n-form{
	height: 200px;
	width: 225px;
	}
.course-brief .exam-n-form .exam{
	font-size: 20px;
	font-weight: bold;
	margin-top: 7px !important;
	}
.course-brief .exam-n-form .exam + h3{
	margin-top: 32px !important;
	}
.course-brief .exam-n-form .form{
	list-style-type: disc;
	font-size: 16px;
	font-weight: bold;
	padding-left: 25px;
	line-height: 24px;
	}
.course-brief .docs p.certs{
	line-height: 16px;
	margin: 14px 0 0 0 !important;
	padding: 0 0 0 40px;
	background-image: url('images/icon-cert.png');
	background-position: left top;
	background-repeat: no-repeat;
	}
.course-brief .docs p.docs{
	line-height: 16px;
	margin: 14px 0 0 0 !important;
	padding: 0 0 0 40px;
	background-image: url('images/icon-document.png');
	background-position: left top;
	background-repeat: no-repeat;
	}
.course-brief .docs p.discount{
	line-height: 16px;
	margin: 14px 0 0 0 !important;
	padding: 0 0 0 40px;
	background-image: url('images/icon-percent.png');
	background-position: left top;
	background-repeat: no-repeat;
	}
.course-brief .docs p span{
	font-size: 16px;
	font-weight: bold;
	}
	
ul.program{
	list-style-type: none;
	margin: 0 0 0 -50px;
	padding: 0 50px;
	width: 875px;
	background: #fff url('images/courses-program-background.png') left top no-repeat;
	float: left;
	}
ul.program > li{
	float: left;
	
	margin-right: 25px;
	width: 200px;
	}
ul.program > li.last{
	margin-right: 0;
	}
ul.program h3{
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	line-height: 34px;
	margin-top: 14px;
	}
ul.program h4{
	font-size: 15px;
	line-height: 17px;
	margin: 13px 0 5px 0;
	}
ul.program .description{
	font-style: italic;
	}
ul.program ol{
	padding-left: 25px;
	}


/*
 * Footer
 */
#footer{
	background: #eaede1 url('images/footer-background.png') top center no-repeat;
	float: left;
	/*font-size: 13px;*/
	line-height: 22px;
	}
	
#footer ul.footer,
#footer ul.sitemap{
	float: left;
	list-style-type: none;
	margin: 30px 0 30px 0;
	padding: 0 50px;
	}
#footer .footer > li,
#footer .sitemap > li{
	float: left;
	margin-right: 25px;
	width: 200px;
	}
#footer .footer > li.last,
#footer .sitemap > li.last{
	margin-right: 0;
	}
	
#footer li p{
	margin: 0;
	}
	
#footer h4{
	margin: 0 0 4px 0;
	}
	
#footer ul.sitemap{
	display: none;
	margin-top: 0;
}
#footer ul.sitemap{
	line-height: 12pt;
	margin-bottom: 30px;
	}
#footer .sitemap ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#footer .sitemap ul li{
	margin-bottom: 4px;
	}

input[type=text].search{
	background: #fff url('images/search-icon.png') right center no-repeat;
	border: #757670 1px solid;
	padding: 3px 7px;
	}

span.sitemap{
	background-image: url('images/arrow-down.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 12px;
	}
span.sitemap.closed{
	background-image: url('images/arrow-right.png');
	}

/*
 * Order form
 */

#form-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-image: url('images/form-wrapper-background.png');
	z-index: 99;
	display: none;
	}

#order-form{
	width: 425px;
	color: #fff;
	margin: 150px auto 0;
	}
#order-form .corners{
	height: 8px;
	width: 425px;
	background-repeat: no-repeat;
	float: left;
	}
#order-form .corners.top{
	background-position: top left;
	background-image: url('images/order-form-top-corners.png');
	}
#order-form .corners.bottom{
	background-position: bottom left;
	background-image: url('images/order-form-bottom-corners.png');
	}
#order-form .form{
	background: #007397 url('images/order-form-background.png');
	float: left;
	padding: 0 40px 12px;
	width: 345px;
	}
#order-form h1{
	font-size: 16px;
	}
#order-form p.agreement{
	font-size: 11px;
	line-height: 14px;
	color: #80b9cb;
	margin-bottom: 0;
	}
#order-form p > label{
	display: block;
	font-size: 13px;
	font-style: italic;
	}
#order-form input[name=fio],
#order-form input[name=phone],
#order-form input[name=email],
#order-form textarea[name=comments]{
	width: 333px;
	margin: 0;
	}
#order-form select[name=course],
#order-form input[name=fio],
#order-form input[name=phone],
#order-form input[name=email],
#order-form textarea[name=comments]{
	padding: 3px 4px;
	}
#order-form textarea[name=comments]{
	height: 125px;
	}

form > p {
	margin: 11px 0 0 0;
	}
input.close{
	border: 0;
	background: #007397 url('images/close-form.png') center center no-repeat;
	float: right;
	margin: 8px -22px 0 0;
	height: 13px;
	width: 13px;
	outline: 0;
	cursor: pointer;
	}
